.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vh);
  color: white;
}

.subApp-header {
  background-color: #282c34;
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px - 2vh);
  color: white;
}

.label {
  background-color: #282c34;
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px - 2vh);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TextBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-field {
  width: 40%;
  font-size: 1.5em; 
  font-family: monospace;
  border: none;
  padding: 10px;
  border-radius: 5px;
  caret-color: #264653;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  letter-spacing: 0.05em;
  outline: none;
  box-sizing: border-box; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
